################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/FitnessTracker.WebAPI/.vs/FitnessTracker.WebAPI/FileContentIndex/read.lock
/Backend/FitnessTracker.WebAPI/.vs/FitnessTracker.WebAPI/FileContentIndex/1cb678a4-7897-4a7a-a4c8-b0258b5f62eb.vsidx
/Backend/FitnessTracker.WebAPI/.vs/FitnessTracker.WebAPI/FileContentIndex/2782b1cf-c088-42a7-a481-f0dd1010a8ee.vsidx
/Backend/FitnessTracker.WebAPI/.vs/FitnessTracker.WebAPI/FileContentIndex/42c6eced-466c-4f3b-b9a7-d97f19d6e94d.vsidx
/Backend/FitnessTracker.WebAPI/.vs/FitnessTracker.WebAPI/FileContentIndex/5420cc5d-2292-4dc2-b58a-0e2a01eac72c.vsidx
/Backend/FitnessTracker.WebAPI/.vs
